extends layout

block content
	h1= title
	p Welcome to #{title}. Set up your game here. It's that easy.
	section(class="masthead")
		div(class="inputs")
			form(method="post" action="/generate")
				input(type="text" name="channel_name" placeholder="What's the name of the game?")
				input(type="text" name="player_name" placeholder="What shall we call you, son?" class="username")
				input(type="submit" value="Let's play some Nanz!")

		//- select(name="player" class="player")
	section(class="players")
		p This is where you'll see other players playing online. Cool, aren't they?
	section(class="sessions")
		p This is where you'll see games being played. Cool, isn't it? 


    

			
	
