doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script(src='/javascripts/bitcoinjs.min.js')
    script(src="http://js.pusher.com/2.2/pusher.min.js")
    script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
    script(src='/javascripts/main.js')
  body
    block content
