doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js")
    script(src="/javascripts/services.js")  
    script(src="/javascripts/app.js")
    script(src="/javascripts/controller.js")
    //- can I just load the entire 'javascripts' directory instead of one-by-one?
  body
    block content
