extends layout

block content
  p Channel: #{channel}
  //- p(id="players") Players:
  div(class="actions")
    form(action="#" class="add_players")
      input(class="new_player_name" placeholder="new player name")
      button(class="new_player_name") Add player
    form(action="#" class="trade")
      input(class="p1" placeholder="p1")
      input(class="index_p1" placeholder="index_p1")
      input(class="p2" placeholder="p2")
      input(class="index_p2" placeholder="index_p2")
      button(class="make_trade") Trade cards 
    div(class="updates")
  script.
    var io = io.connect();
    var channel = '#{channel}';
    io.emit('ready', channel);
    io.on('update', function(data){
      console.log(data);
    });
    io.on('error', function(err){
      console.error(err);
    });
    
    $(document).ready(function(){    
      $('button.new_player_name').click(function(){
        var name = $('input.new_player_name').val();
        io.emit('add_player', {channel: channel, player: name});
      });  
    });
    
    $(document).ready(function(){    
      $('button.make_trade').click(function(){
        var player1 = $('input.p1').val();
        var player2 = $('input.p2').val();
        var card1 = $('input.index_p1').val();
        var card2 = $('input.index_p2').val();
        
        io.emit('make_trade', {channel: channel, 
                               player1: player1,
                               player2: player2,
                               card1: card1,
                               card2: card2});
      });   
    });
    
