extends layout

block content
  p Channel: #{game.channel}
  p(id="players") Players: #{game.players}
  div(class="actions")
    form(action="#" class="add_players")
      input(class="new_player_name" placeholder="new player name")
      button(class="new_player_name") Add player
    form(action="#" class="trade")
      input(class="p1" placeholder="p1")
      input(class="index_p1" placeholder="index_p1")
      input(class="p2" placeholder="p2")
      input(class="index_p2" placeholder="index_p2")
      button(class="trade") Trade cards 
  script.
    var io = io.connect();
    var url = window.location.pathname;
    var segments = url.split( '/' );
    var channel = segments[2];
    io.emit('ready', channel);
    //- io.on('real_time', function(data){
    //-   console.log(data);
    //- })
    
    
    
    $(document).ready(function() {    
      $('button.new_player_name').click(function(){
        var name = $('input.new_player_name').val();
        console.log();
        io.emit('add_player', game);
      });  
    });
