extends layout

block content
  h1= title
  p This is your game.
  select(name="player")
    option(value="David") David
    option(value="Harry") Harry
    option(value="Eli") Eli
  form(action="/play/:session")
    input(type="text" name="session_name" placeholder="What's the name of the game?")
    input(type="text" name="player_name" placeholder="What shall we call you, son?")
    input(type="submit" name="create_session" value="Let's play some Nanz!")
