body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.masthead {
	border: solid;
	border-color: black;
	border-width: 2px;
	position: absolute;
	left: 3em;
	width: 40%;
	padding: 2em;
}

input {
  margin-left: 2em;
  margin-right: 2em;
}


.sessions {
    width: 40%;
    height: 25em;
    border-color: black;
    border: solid;
    position: absolute;
    right: 3em;
    /*top: 25em;*/
    padding: 2em;

}

.updates {
  width: 40%;
  height: 25em;
  border-color: black;
  border: solid;
  position: absolute;
  right: 3em;
  /*top: 25em;*/
  padding: 2em;
}

.actions .add_players {
  display: block;
  border-color: black;
  position: absolute;
  left: 3em;
  border: solid;
  /*top: 25em;*/
  padding: 2em;
}

.actions .trade {
  display:block;
  position: absolute;
  left: 3em;
  top: 20em;
  border-color: black;
  border: solid;
  /*top: 25em;*/
  padding: 2em;
  max-width: 30%;
}
