body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.players {
	border: solid; 
	border-color: black;
	border-width: 2px;
	position: absolute;
	right: 3em;
	width: 40%;

}

.masthead {
	border: solid; 
	border-color: black;
	border-width: 2px;
	position: absolute;
	left: 3em;
	width: 40%;
}