<div class="jumbotron">
  <h1>LET'S NANZ!</h1>
  <p class="lead">
    <img src="images/landing-bean-farmer.png" alt="I'm a bean!"><br>
    Play Bohnanza, the international floral gaming sensation, online for free, forever.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/newgame">Create a NEW GAME!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h1>Blog</h1>
  <h4>rss</h4>
  <p>
    Subscribe to our rss feed and you'll get updates on the latest releases! Watch out, we here there's a lima strain in store!
  </p>

  <h4>Beanonomics</h4>
  <p>
    High demand for the rare cocoa plant has raised prices to unprecedented levels. Experts argue that this bubble is bound to pop,
    with warnings to discontinue investments this late in the game.
  </p>

  <h4>Which bean is right for you?</h4>
  <p>Psychology professor and music dilettante Harrison Terrell writes about the implications of trader personality on closing deals.
     "Farmers with a stinkier aura are more likely to close deals on the stink or chile market, naturally," he posits,
     "traders must not forget that their beans influence their 'yes's' and 'no's' as much if not more than the trader himself. This brings up
     the question of free will in Leguminosae commerce, a subject that occupies the majority of my research team's efforts."
  </p>
</div>
